.profilse{
  background: rgba(0,0,0,0.7);
}

.profilse_box{
  display: inline-block;
  width: 100%;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.profilse_box p{
  color: #A7F8FF  ;
  text-shadow: 0 0 20px #1779ff;
  font-size: 22px;
}

.profilse_face{
  float: left;
  width: 17%;
  height: 380px;
  margin-left: 25%;
}
.profilse_img{
  width: 100%;
  height: 100%;
  transition: 0.7s;
  transform: translateX(-300px);
  opacity: 0;
}

.profilse_img[data-scroll="in"]{
  opacity: 1;
  transition-delay: 0.5s;
  transform: translateX(0px);
}

.profilse_status{
  width: 30%;
  margin-top: 40px;
  margin-left: 10%;
  display: inline-block;
}

.profilse_status p{
  padding-left: 45%;
  transition: 0.7s;
  transform: translateX(300px);
  opacity: 0;
}

.profilse_status p[data-scroll="in"]{
  opacity: 1;
  transition-delay: 1s;
  transform: translateX(0px);
}

.profilse_status li{
  padding-bottom: 35px;
  transition: 0.7s;
  transform: translateX(-300px);
  opacity: 0;
}

.profilse_status li[data-scroll="in"]{
  opacity: 1;
  transition-delay: 0.5s;
  transform: translateX(0px);
}

.profilse_History{
  display: inline-block;
  font-size: 30px;
  margin-left: 20%;
  width: 60%;
}

.profilse_History li{
  margin-bottom: 20px;
  line-height: 80px;
  transition: 0.8s;
  opacity: 0;
}

.profilse_History li[data-scroll="in"]{
  opacity: 1;
  transition-delay: 0.5s;
}

.profilse_History li:last-child{
  margin-bottom: 0px;
  line-height: 40px;
  padding-bottom: 20px;
}

.profilse_History p{
  line-height: 35px;
  font-size: 22px;
  color: #A7F8FF  ;
  text-shadow: 0 0 20px #1779ff;
  opacity: 0;
  transition: 1.2s;
}

.profilse_History p[data-scroll="in"]{
  opacity: 1;
  transition-delay: 1.2s;
}

.Details{
  font-size: 15px;
}

.Details p{
  font-size: 10px;
}

